<%- partial('_partial/head') %>
<!--浏览器搞笑标题-->
  <script type="text/javascript" src="/js/FunnyTitle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/TUFZ/CDN@0.0.2/itufz.com/js/instantclick-1.2.2.js" type="module"></script>
<body>
  <div id="app">
    <main class="content">
      <%- body %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      <div class="to_top">
        <%- partial('_partial/totop') %>
      </div>
    </main>
    <aside class="sidebar">
      <%- partial('_partial/sidebar') %>
    </aside>
    <%- partial('_partial/modal') %>
    <%- partial('_partial/after-footer') %>

    <% if (theme.music&&theme.music.enable){ %>
    <%- partial('_partial/music') %>
    <% } %>
  </div>
</body>

</html>